{% extends 'base.html.twig' %}

{% block header %}
    <header>
        <div id="mySidenav" class="sidenav">
          <a href="{{ path('homepage') }}" class="home">
            <i class="fa fa-home sidenav-icon " aria-hidden="true"></i>
            <div class="sidenav-text">
              Home
            </div>
          </a>
          <a href="#">
            <div class="job-container">
              <span class="badge job-badge"> {{ alert }}</span>
              <i class="fa fa-file sidenav-icon" aria-hidden="true"></i>
              <div class="sidenav-text">
                Jobs
              </div>
            </div>
          </a>
          <a href="#">
            <i class="fa fa-tag fa-flip-horizontal sidenav-icon" aria-hidden="true"></i>
            <div class="sidenav-text">
              Prices
            </div>
          </a>
        </div>
        <div class="navbar navbar-default navbar-static-top top" role="navigation">
            <div class="container" >
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ path('homepage') }}">
                        <img class="logo" src="{{ asset('images/logo-light.png') }}">
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="role">Recruiter</div>
                        {% endif %}
                    </a>

                    <button type="button" class="navbar-toggle"
                            data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="sr-only">{{ 'menu.toggle_nav'|trans }}</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">

                        {% block header_navigation_links %}

                            <li>
                              <a class="message" href="#">
                                <span class="glyphicon glyphicon-envelope"></span>
                              </a>
                            </li>
                            <li class="dropdown user_menu">
                                <a class="dropdown-toggle" aria-expanded="false" data-toggle="dropdown"> Hi {{ username }}   <img class="img-circle" src="{{ asset('images/kitten.jpg') }}">
                                <span class="caret"></span></button>
                                <ul class="dropdown-menu" id="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                  <li><a href="#">Account Settings</a></li>
                                  <li><a href="#">FAQ</a></li>
                                  <li><a href="{{ path('security_logout') }}">
                                       {{ 'menu.logout'|trans }}
                                  </a></li>
                                </ul>
                            </li>

                        {% endblock %}

                        <li>
                            <a class="post_a_job" href=#>Post a job</a>
                        </li>

                        {# Generate a dropdown with all our locales #}
                             <li class="dropdown">
                                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><img class="flag" src="{{ asset('images/flags/') }}{{ locale }}.png"></a>
                                 <ul class="dropdown-menu locales" role="menu">
                                     <li><a href="{{ path('blog_index', {_locale:'de'}) }}"><img src="{{ asset('images/flags/de.png') }}" alt="Deutsch">Deutch</a></li>
                                     <li><a href="{{ path('blog_index', {_locale:'en'}) }}"><img src="{{ asset('images/flags/en.png') }}" alt="English"> English</a></li>
                                     <li><a href="{{ path('blog_index', {_locale:'fr'}) }}"><img src="{{ asset('images/flags/fr.png') }}" alt="Français"> Français</a></li>
                                     <li><a href="{{ path('blog_index', {_locale:'ru'}) }}"><img src="{{ asset('images/flags/ru.png') }}" alt="русский"> русский</a></li>
                                     <li><a href="{{ path('blog_index', {_locale:'cs'}) }}"><img src="{{ asset('images/flags/cs.png') }}" alt="česká republika"> česká republika</a></li>
                                 </ul>
                             </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="row path">
          <div class="column col-md-12 col-sm-12">
          Jobs
          </div>
        </div>
    </header>
{% endblock %}

{% block title %}Jobs{% endblock %}

{% block body %}

  <div class="table-area">
      <h3 class="job-header"> Jobs </h3>
      {{ include('jobs/_table.html.twig') }}
  </div>
{% endblock %}
